*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-content{
  width: 85%;
  height: 95%;
  display: flex;
}

/* blocco gruppo chat */
.chat-group{
  width: 35%;
  height: 100%;
}

/* blocco impostazioni della chat */
.setting-chat{
  width: 100%;
  height: 25%;
  background-color: black;
}

.fa-user-size{
  font-size: 37px;
}

.fa-size{
  padding: 0px 5px;
  font-size: 16px;
  color: grey;
}

.profile-setting{
  width: 100%;
  height: 35%;
  padding: 0px 15px;
  background-color: #eee;
  border-right: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-notice{
  width: 100%;
  height: 42.5%;
  padding: 0px 12px;
  background-color: #9de1fe;
  display: flex;
  align-items: center;
}

.icon{
  padding: 9px;
  background-color: white;
  border-radius: 100%;
}
.fa-bell-size{
  font-size: 17px;
  color: #9de1fe;
}

.box p{
  margin: 0;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#get-notice{
  font-size: 12px;
  align-items: center;
}

#active-notice{
  font-size: 10.5px;
  color: grey;
}

.search-bar{
  width: 100%;
  height: 22.5%;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input{
  width: 95%;
  height: 75%;
  padding-left: 10px;
  border: none;
  border-radius: 2px;
  font-size: 12px;
}

/* blocco altre chat */
.other-chat{
  width: 100%;
  height: 75%;
  background-color: white;
}

.selection-chat{
  width: 100%;
  height: 12.5%;
  padding: 0 12px;
  border-top: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

.fa-user-selection{
  font-size: 42px;
}

/* blocco conversazione */
.chat{
  width: 65%;
  height: 100%;
}

/* dettagli chat */
.chat-details{
  width: 100%;
  height: 9%;
  padding: 0px 15px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* corpo chat */
#chat-user{
  width: 100%;
  height: 82.5%;
  justify-content: flex-end;
  background-image: url(../img/sfondo.jpg);
  background-size: cover;
}

/* template */
#template{
  display: none;
}

/* messaggio */
.chat-txt{
  width: 100%;
  height: 8.5%;
  background-color: #efefef;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.txt-box {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.txt-box input{
    width: 100%;
    height: 70%;
    padding-left: 10px;
    border-radius: 2px;
    border: none;
    font-size: 13px;
}

.send-msg{
  background: none;
  border: none;
}

.fa-box-size{
  padding: 0px 20px;
  font-size: 20px;
}

/* style js */
.msg-sent{
  max-width: 50%;
  border-radius: 5px;
  background-color: #DCF8C6;
  padding: 5px;
  margin: 0px 6px 6px 6px;
  display: inline-block;
}
