*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-content{
  width: 85%;
  height: 95%;
  display: flex;
}

/* blocco gruppo chat */
.chat-group{
  width: 30%;
  height: 100%;
}

/* blocco impostazioni della chat */
.setting-chat{
  width: 100%;
  height: 25%;
  background-color: black;
}

.profile-setting{
  width: 100%;
  height: 35%;
  background-color: #eee;
  border-right: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-notice{
  width: 100%;
  height: 42.5%;
  background-color: #9de1fe;
  display: flex;
  align-items: center;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#get-notice{
  font-size: 12px;
}

#active-notice{
  font-size: 10.5px;
  color: grey;
}

.search-bar{
  width: 100%;
  height: 22.5%;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input{
  width: 95%;
  height: 75%;
  border: none;
  font-size: 12px;
}

/* blocco altre chat */
.other-chat{
  width: 100%;
  height: 75%;
  background-color: white;
}

.selection-chat{
  width: 100%;
  height: 12.5%;
  border-top: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

/* blocco conversazione */
.chat{
  width: 70%;
  height: 100%;
}

/* dettagli chat */
.chat-details{
  width: 100%;
  height: 9%;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* corpo chat */
.chat-user{
  width: 100%;
  height: 82.5%;
  background-image: url(../img/sfondo.jpg);
  background-size: cover;
}

/* messaggio */
.chat-txt{
  width: 100%;
  height: 8.5%;
  background-color: #efefef;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.txt-box {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.txt-box input{
    width: 100%;
    height: 70%;
    border: none;
    font-size: 13px;
}
